@page
@model EcoEnergySolutions.Pages.EnergyIndicators.EnergyIndicatorsTableModel
@{
    ViewData["Title"] = "Energy Indicators";
}

<a asp-page="/EnergyIndicators/AddEnergyIndicator" class="btn btn-primary">Add Energy Indicator</a>
<p>@Model.Message</p>

<div id="tablaDefault">
    <h3>Energy Indicators</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Year</th>
                <th>NetProduction</th>
                <th>GasolineConsumption</th>
                <th>ElectricDemand</th>
                <th>AvailableProduction</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model.EnergyIndicatorsList)
            {
                <tr>
                    <td>@p.Id</td>
                    <td>@p.Year</td>
                    <td>@p.NetProduction</td>
                    <td>@p.GasolineConsumption</td>
                    <td>@p.ElectricDemand</td>
                    <td>@p.AvailableProduction</td>
                    <td><a asp-page="./EditEnergyIndicator" asp-route-id="@p.Id" class="btn btn-sm btn-warning">Edit</a></td>
                    <td><a asp-page="./DeleteEnergyIndicator" asp-route-id="@p.Id" class="btn btn-sm btn-danger">Delete</a></td>

                </tr>
            }
        </tbody>
    </table>
</div>